node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Config
src/lib/config/config.ts
!src/lib/config/config.example.ts

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Static Images
static/images/*
static/public/*
