node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Config
src/lib/config/config.json
!src/lib/config/config.example.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Static Images
static/images/*
