node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Config
src/lib/config/config.ts
.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sitemap and OG Image
static/sitemap.xml
static/og-image.png
static/robots.txt

# Podcast snapshot
src/lib/stores/podcast/podcast-snapshot.json
