@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base scrollbar styles */
* {
	scrollbar-width: unset !important;
	scrollbar-color: unset !important;
}

html,
body {
	overscroll-behavior: none;
}

/* Webkit scrollbar styling for Chrome, Safari, and Edge */
*::-webkit-scrollbar {
	width: 10px !important;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, 0.5) !important;
	border-radius: 50px !important;
}

*::-webkit-scrollbar-track {
	background-color: transparent !important;
	border-radius: 50px !important;
}

/* Browsers without `::-webkit-scrollbar-*` support */
@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-width: thin !important;
		scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
	}
}

.stable-gutter {
	scrollbar-gutter: stable both-edges;
}

.no-scrollbar {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.collapse-arrow > .collapse-title:after {
	top: 1.2rem;
	right: 1rem;
}

.divider {
	height: unset;
}

.fill-available {
	width: 100%;
	width: -moz-available; /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	width: fill-available;
}
